<header class="main-content__header">
    <!-- Open mobile menu button -->
    <button class="mobile-menu">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <!--<path fill="currentColor" d="M501"/>-->
        </svg>
    </button>
    <span class="main-content__header-text">All contacts of {{user}}</span>
    <span class="main-content__header-text"
          *ngIf="this.searchContactsService.filterForContacts"> which surname contains "{{this.searchContactsService.filterForContacts}}"</span>
    <!-- Dots menu -->
    <button class="main-content__header-menu"> <!--*todo constants -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 612">
        </svg>  <!--d="M55"-->
    </button>
</header>


<section class="contacts">
    <div class="contact-card"
         *ngFor="let contact of filteredContacts">
        <!--    contacts | contactPipeFilter categoryContacts  filteredContacts  -->

        <div class="contact-card__avatar"
             [ngStyle]="{'background-image': 'url(../../assets/img/' + contact.surname + '.jpg)'}">
          </div> <!-- A mock request because of server's issue with img storing-->
        <div class="contact-card__info">
            <button class="contact-card__btn"
                    (click)="this.router.navigate(['/contact', contact.surname, {id: contact._id}]);">
                    <!--[routerLink]="['/contact', contact.surname]">-->
                <!--*todo вернуть назад баттон снаружи трех дивов контакт-кард-->
                <span class="contact-card__name">{{contact.surname}}</span>
            </button>
            <span class="contact-card__description" *ngIf="contact.category.name">{{contact.category.name}}</span>
        </div>

        <button class="contact-card__menu-btn"
                (click)="contact.showContactEditMenu = !contact.showContactEditMenu">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 612">
                <path fill="currentColor"
                      [attr.d]="M55"/>
            </svg>  <!--d="M55"-->
        </button>

       <!-- *todo сделать отдельным компонентом и закрывать при клике мимо окошка-->
        <div class="contact-card__menu"
             *ngIf="contact.showContactEditMenu">
            <button class="contact-card__menu-item"
                    (click)="contact.showContactEditMenu = !contact.showContactEditMenu"
                    routerLink='/create'>Edit
            </button>
            <button class="contact-card__menu-item"
                    (click)="deleteContact(contact)">Delete</button>
            <button class="contact-card__menu-item"
                    (click)="contact.showCategoriesList = !contact.showCategoriesList">Add to category
            </button>

            <div *ngIf="contact.showCategoriesList">
                <button class="contact-card__menu-item"
                        *ngFor="let category of categories"
                        [hidden]="contact.category.includes(category)"
                        (click)="addToCategory(contact, category); contact.showContactEditMenu = !contact.showContactEditMenu">
                    {{category}}
                </button>
            </div>

            <button class="contact-card__menu-item"
                    (click)="contact.showContactEditMenu = !contact.showContactEditMenu">Cancel
            </button>

        </div>

    </div>
</section>

