<main class="main-content">
    <!-- Content header -->
    <router-outlet></router-outlet>
   <!-- <app-contacts
            *ngIf="!hideContactsGrid"
            (click)="showContactViewForm(); showFull($event); toggleContactsGrid()"></app-contacts>

    <app-contact-view
            *ngIf="!hideContactViewForm"
            [hideContactViewForm]="this.hideContactViewForm"
            [actualContact]="this.actualContact"
            (closeButtonClick)="this.hideContactView(); toggleContactsGrid()"></app-contact-view>
    <button class="crutch" (click)="toggleContactForm()">Show/hide Add contact form</button>  &lt;!&ndash;*todo delete&ndash;&gt;
    <app-contact-form
            *ngIf="!hideContactForm"></app-contact-form>-->

</main>