.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding: 72px 0 0 320px;
    background: white; }

.crutch {  // *todo remove crutch
display: flex;
    width: 30vw;
    padding: 8px;
    font-size: 16px;
    border: 2px darkolivegreen solid}
