<section class="user" [ngSwitch]="this.auth.isAutorized">

    <div *ngSwitchCase="true">
        <div class="user__avatar"></div>
        <section class="user__info">
            <span class="user__name">{{user}} </span>
            <button (click)="doLogout()"
                    class="user__log-out">Log out
            </button>
        </section>
    </div>

    <div *ngSwitchDefault>
        <section class="user__info">
            <span class="user__name">Incognito </span>
            <button (click)="this.doLogin()"
                    class="user__log-out">LOGIN
            </button>  <!--[routerLink]="['/login']" *todo -->
        </section>
    </div>

    <button [routerLink]="['/admin']"
            [class.disable]="!this.auth.isAutorized"
            style="color:orange; border: 2px solid orange; margin: 25px; padding: 10px;"> ADMIN PANEL
    </button>

</section>
